# Trevor Arellanes's Module 4 Project
### 2/4/2023
### Domain: Golf

## Task 1 - Series

In [ ]:
import pandas as pd # adding libary to complete assignment

In [103]:
grades = pd.Series([87, 89, 92, 77, 83, 89, 96, 97, 91, 100])
grades
# assigning the variable gardes to a series

0     87
1     89
2     92
3     77
4     83
5     89
6     96
7     97
8     91
9    100
dtype: int64

In [104]:
grades[0] # calling first item in series

87

In [105]:
grades.count() # count function executed

10

In [106]:
grades.mean() # mean of series data

90.1

In [107]:
grades.min()# returns min of sereis data

77

In [108]:
grades.max() # returns max of series data

100

In [109]:
grades.std() # returns standard deviation of data series

6.822348894951389

In [110]:
round(grades.std(), 2) # rounds results of standard deviation data series
# to hundredths place

6.82

In [111]:
grades.describe() # describe function being executed

count     10.000000
mean      90.100000
std        6.822349
min       77.000000
25%       87.500000
50%       90.000000
75%       95.000000
max      100.000000
dtype: float64

## Task 2 - Series from Dictionary

In [112]:
grades = pd.Series({'John' : 92, 'Martin' : 88, 'Rachel' : 99, 'Sarah' : 93}) 
# creating series from dictionary

In [113]:
grades # output of grades variable

John      92
Martin    88
Rachel    99
Sarah     93
dtype: int64

In [114]:
grades['Sarah'] # calls grades for specific individual Sarah

93

In [115]:
grades.Martin # calls grades for Martin

88

In [116]:
grades.values

array([92, 88, 99, 93], dtype=int64)

In [117]:
import numpy as np

import pandas as pd

scores = np.random.randint(0, 15, 10) # generate random int 

scores_1 = pd.Series(scores) # produces result of variable

In [118]:
scores_1

0    14
1     4
2     4
3     1
4     8
5     2
6     0
7     8
8    14
9    12
dtype: int32

In [119]:
scores_1.min()

0

In [120]:
scores_1.max()

14

In [121]:
scores_1.mean()

6.7

In [122]:
scores_1.describe()

count    10.000000
mean      6.700000
std       5.292552
min       0.000000
25%       2.500000
50%       6.000000
75%      11.000000
max      14.000000
dtype: float64