## Task 5 (Bonus)
### Trevor Arellanes - 2/6/24
### Data Analytics Fundamentals

In [4]:
import pandas as pd # import library necessary for work

In [14]:
contacts = [['Mike Green' , 'demo1@deitel.com', '5555555555'],
 ['Sue Brown', 'demo2@deitel.com', '5555551234']] # inputting data for variable contacts

In [16]:
contactsdf = pd.DataFrame(contacts, columns = ['Name', 'Email', 'Phone']) 
# adding columns to data frame

In [17]:
contactsdf # running results of variable contacts df

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [18]:
import re # importing library for work

In [19]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value
    """Entering function that isolates the gorups of the phone numbers; if 
    the result is none the value unmodified is returned otherwise,
    result.groups() returns a tuple containing the elemnts, seperating each 
    from the next with a '-'."""

In [20]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)
# Updating original data frame to accept modifications

In [21]:
formatted_phone # result of new data entered by seeing result of formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [22]:
contactsdf['Phone'] = formatted_phone # assigning data to new series

In [23]:
contactsdf # results of completed series

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234